@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.seating-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.seat-row {
  display: flex;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #fff;
}

.row-label, .column-label {
  font-weight: bold;
}

.label-placeholder {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.available {
  background-color: #bada55; /* 利用可能な座席の色 */
}

.reserved {
  background-color: #ff6961; /* 予約済みの座席の色 */
}

.disabled {
  background-color: #f0f0f0; /* 予約不可の座席の色 */
}

.seat.table {
  background-color: #ccc; /* テーブルの背景色 */
  /* その他のテーブルのスタイル */
}

.seat.label {
  min-width: 100px; /* または別の適切な値 */
  /* その他のスタイル */
}

.table-container {
  display: flex;
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  height: 250px;  /* 高さを調整してください */
  width: 50%; /* 幅を調整してください */
  background-color: white; /* 背景色を調整してください */
  border: 1px solid #ccc; /* 枠線を調整してください */
  border-radius: 5px; /* 角丸を調整してください */
  margin: 0 auto; /* 中央揃え */
  margin-top: 100px; /* 上部の余白を調整してください */
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  font-weight: bold;
  color: #333; /* テキストの色を調整してください */
}

.selected-seat {
  background-color: blue; /* 例として青色を選択 */
  color: white; /* 文字色を白に */
}
